body {
    background-color: #dddddd;
    margin: 0;
}

#mainHeader {
    background-color: #ffffff;
    padding-top: 25px;
    padding-bottom: 40px;
    padding-right: 45px;
    padding-left: 45px;   
    border-bottom: 4px solid #cccccc;
    position: static;
}

#header {
    width: 870px;
    margin: 0px auto;   
}

#name {
    text-align: left;    
    font-size: 24pt;  
    color: #ffffff;  
    font-weight: bold;
    font-family: "Georgia", "Times New Roman", "Times", "Serif";
    width: 100px;
    height: 100px;
    padding: 40px;
    padding-top:25px;
    padding-bottom: 40px;
    background-color: #4aaaa5;    
}

#menu {
    float: right;
    font-family: "Arial", "Helvetica", "sans-serif"; 
    font-size: 18px; 
    color: #666666; 
    position: static; 
    padding-top: 15px;  
}


#indexMain {
    background-color: #ffffff;
    width: 980px;
    margin: 80px auto;
    font-family: "Arial", "Helvetica", "sans-serif"; 
    color: #666666;   
    padding-bottom: 25px;
    padding-right: 25px;
    padding-left: 25px;
    overflow: hidden; 
    font-size: 20px;    
}

/* .wrapper {
    width: 100%;   
} */


/* .wrapper {  
    width: 980px;
    margin: 0 auto;     
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    overflow: hidden; 
    font-size: 18px;
    /* margin: 0 auto; */
    /* padding: 0; */


#contactMain {
    width: 880px;
    background-color: #ffffff;
    margin: 30px auto;
    font-family: "Arial", "Helvetica", "sans-serif";
    color: #666666;
 }

 #form {
     /* padding-left: 15px;
     padding-right: 15px;
     padding-bottom: 15px; */
     text-align: left;
     margin: 0 auto;
     display: table;
     /* font-size: 22px; */
 }

 #portfolioMain {
    width: 870px;
    background-color: #ffffff;
    margin: 30px auto;
    font-family: "Arial", "Helvetica", "sans-serif";
    color: #666666;
    padding-left: 20px;
    padding-right: 20px; 
    padding-bottom: 20px; 
 }

#footer {
    background-color: #666666;
    text-align: center;    
    color: #ffffff;  
    border-top: 8px solid #4aaaa5; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; 
    margin-top: 20px;  
}

p {
    padding-top: 10px;
}

img {
    float: left;
    /* padding-right: 15px; */
}

.images {
    background-color: rgb(250, 242, 242); 
    text-align: center;       
}

/* .responsive {
    background: white;
    overflow: auto;
    padding: 2px;
    float: left;
}
.gallery {
    border: 1px solid #ccc;
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 5px;
    text-align: center;
}
*{
    box-sizing: border-box;
} */

.images:hover {background-color: rgb(224, 220, 220);}

.images:active {
  background-color:rgb(211, 207, 207);
  box-shadow: 0 5px rgb(180, 179, 179);
  transform: translateY(4px);
}

#imageContainer {
    text-align: center; 
}
.Me {
    width: 40%;
    padding-right: 20px;
}

.column {
    float: left;
    width: 230px;
    margin-right: 10;
  }  
 
  .row::after {
    content: "";
    clear: both;
    display: block;
  }

h2 {
    border-bottom: 2px solid #dddddd;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
    color: #4aaaa5;
    font-family: "Georgia", "Times New Roman", "Times", "Serif";
    font-size: 38px;
}

.button { 
    background: #4aaaa5; 
    border: solid 1px #90cdf7; 
    color: #ffffff;
    height: 40px;   
    width: 100;
    font-size: 20px;
    text-align: center;
    margin: auto;
}

.buttonHolder {
    text-align: center;
    padding-bottom: 10px;
}

.button:hover {
    background-color: #6bcac5
}

.button:active {
    background-color: #cccccc
}

input {
    width: 860px;
    height: 33px;   
}

@media only screen and (min-width: 640px){

    #mainHeader {
       
        padding-top: 25px;
        padding-bottom: 40px;
        padding-right: 45px;
        padding-left: 45px;   
        border-bottom: 4px solid #cccccc;
        position: static; 
       
       
    }
    
    #header {
        width: 870px;
        margin: 0;   
    }
    
    #name {
        text-align: center;    
        font-size: 24pt;           
        font-weight: bold;      
        width: 100px;
        height: 100px;
        padding: 40px;
        padding-top: 25px;
        padding-bottom: 40px;
           
    }
    
    #menu {
        float: right;
        font-family: "Arial", "Helvetica", "sans-serif"; 
        font-size: 18px; 
        color: #666666; 
        position: static; 
        padding-top: 15px;  
    }

    img {
        float: left;
        /* width: 100%; */
        /* height: auto; */
        /* padding-right: 15px; */
    }
}

@media only screen and (max-width: 640px) {

    .wrapper {
  
        /* width: 980px;           */
        padding-bottom: 15px;
        padding-right: 15px;
        padding-left: 15px;
        overflow: hidden; 
        font-size: 18px;
        margin: 0 auto;
        padding: 0;
        display: inline-block;
    }

    .Me {
        margin-left: 15%;
        margin-right: 15%;
        width: 25%; 
        float: left; 
    }  
}   
/* 
.responsive {
    flex: 100%;
    max-width: 100%;
} */

/* #indexMain {        
    float: none;
    width: 620px;    
    margin: 40px auto;/*       
    padding-bottom: 25px;
    padding-right: 25px;
    padding-left: 25px; */  
    /* font-size: 18px;   */
/* } 



/* .images {
    float: left;
    max-width:100%;
} */
/* .Me {
    float: left;
    overflow: hidden;
    width: 20%; */
      
 



@media only screen and (max-width: 768px) {  
    /* #indexMain {
         margin: 10px auto;
}  */
.Me {
    margin-left: 15%;
    margin-right: 15%;
    width: 20%; 
    float: left; 
}   

.wrapper {
  
    width: 980px;
    margin: auto;     
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    /* overflow: hidden;  */
    font-size: 18px;
    display: inline-block;

/* #indexMain {
  
    width: 980px;
    margin: 80px auto;     
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    overflow: hidden; 
    font-size: 18px;     */
}
}






@media only screen and (max-width: 980px) {
   

    .wrapper {
        padding-bottom: 15px;
        padding-right: 15px;
        padding-left: 15px;
        overflow: hidden; 
        font-size: 18px;
        margin: 0 auto;
        padding: 0;
    }
}
    
    /* #indexMain {
        font-size: 30px;    
} */

