body {
    background-color: #dddddd;
    margin: 0;
}

#mainHeader {
    background-color: #ffffff;
    padding-top: 25px;
    padding-bottom: 40px;
    padding-right: 45px;
    padding-left: 45px;   
    border-bottom: 4px solid #cccccc;
    position: static;    
}

#header {
    width: 870px;
    margin: 0px auto;
}

#name {
    text-align: left;    
    font-size: 24pt;  
    color: #ffffff;  
    font-weight: bold;
    font-family: "Georgia", "Times New Roman", "Times", "Serif";
    width: 100px;
    height: 100px;
    padding: 40px;
    padding-top:25;
    padding-bottom: 40px;
    background-color: #4aaaa5;
}

#menu {
    float: right;
    font-family: "Arial", "Helvetica", "sans-serif"; 
    font-size: 16; 
    color: #666666; 
    position: static; 
    padding-top: 15px;  
}


#indexMain {
    background-color: #ffffff;
    width: 1000px;
    margin: 30px auto;
    font-family: "Arial", "Helvetica", "sans-serif"; 
    color: #666666;   
    padding-bottom: 25px;
    padding-right: 25px;
    padding-left: 25px;
    overflow: hidden;     
}

#contactMain {
    width: 880px;
    background-color: #ffffff;
    margin: 30px auto;
    font-family: "Arial", "Helvetica", "sans-serif";
    color: #666666;
    padding: 15px;
 }

 #form {
     /* padding-left: 10px;
     padding-bottom: 10px; */
     text-align: left;
     margin: auto;
     display: table;
     /* font-size: 22px; */
 }

 #portfolioMain {
    width: 870px;
    background-color: #ffffff;
    margin: 30px auto;
    font-family: "Arial", "Helvetica", "sans-serif";
    color: #666666;
    padding-top: 3;
    padding-left: 15;
    padding-right: 15; 
    padding-bottom: 40px; 
 }

#footer {
    background-color: #666666;
    text-align: center;    
    color: #ffffff;  
    border-top: 8px solid #4aaaa5; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; 
    margin-top: 20px;    
}

p {
    padding-top: 10px;
}

img {
    float: left;
    padding: 10px;
}

.Me {
    width: 40%;
}

.column {
    float: left;
    width: 230px;
    margin-right: 10;
  }  
 
  .row::after {
    content: "";
    clear: both;
    display: block;
  }

h2 {
    border-bottom: 2px solid #dddddd;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
    color: #4aaaa5;
    font-family: "Georgia", "Times New Roman", "Times", "Serif";
    font-size: 38px;
}

.button { 
    background: #4aaaa5; 
    border: solid 1px #666666; 
    color: #ffffff;
    height: 40px;   
    width: 100;
    font-size: 16;
    text-align: left;
    margin: auto;
}

.buttonHolder {
    text-align: center;
}

.button:hover {
    background-color: #666666
}

.button:active {
    background-color: #cccccc
}

input {
    width: 860px;
    height: 33px;   
}

@media screen and (min-width: 640px){
    #mainHeader {      
        background-color:#4aaaa5
} 
}

@media screen and (max-width: 640px) {
    #mainHeader {        
        float: none;
        width: 100%
}
.Me {
    margin-left: 40%;
    width: 90%;  
}
} 

@media screen and (min-width: 768px) {
    #container {
        font-size: 80px;
}  
}   

@media only screen and (max-width: 768px) {  
    #indexMain {
         margin: 10px auto;
} 
.Me {
    margin-left: 15%;
    margin-right: 15%;
    width: 60%;  
}     
}

@media screen and (min-width: 980px) {
    #container {
        font-size: 80px;    
}

@media screen and (max-width: 980px) {
    #container {
        font-size: 30px;    
}

