body {
    background-color: #dddddd;
    margin: 0;
}

#mainHeader {
    background-color: #ffffff;
    padding-top: 25px;
    padding-bottom: 45px;
    padding-right: 45px;
    padding-left: 45px;   
    border-bottom: 4px solid #cccccc;
    position: static;    
}

#mainHeader2 { 
    background-color: #ffffff;
    padding-top: 25px;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-left: 40px;   
    border-bottom: 4px solid #cccccc;
    position: static;
}

#mainHeader3 { 
    background-color: #ffffff;
    padding-top: 25px;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-left: 40px;   
    border-bottom: 4px solid #cccccc;
    position: static;
}



#header {
    width: 1000px;
    margin: 0px auto;
             
}

#header2 {
    width: 880px;
    margin: 0px auto;
}
#header3 {
    width: 880px;
    margin: 0px auto;
}

#name {
    text-align: left;    
    font-size: 26pt;    
    font-weight: bold;
    font-family: "Georgia", "Times New Roman", "Times", "Serif";
    color: #ffffff;
    width: 100px;
    height: 100px;
    padding: 45px;
    padding-top:25;
    background-color: #4aaaa5;
}

#name2 {
    text-align: left;
    font-size: 24;
    color: #ffffff;
    font-weight: bold;
    font-family: "Georgia", "Times New Roman", "Times", "Serif";
    width: 100px;
    height: 100px;
    padding: 45px;
    padding-top: 25;
    padding-bottom: 10;
    background-color: #4aaaa5;
 }
 #name3 {
    text-align: left;
    font-size: 24;
    color: #ffffff;
    font-weight: bold;
    font-family: "Georgia", "Times New Roman", "Times", "Serif";
    width: 100px;
    height: 100px;
    padding: 45px;
    padding-top: 25;
    padding-bottom: 10;
    background-color: #4aaaa5;
 }


#menu {
    float: right;
    font-family: "Arial", "Helvetica", "sans-serif"; 
    font-size: 16; 
    color: #666666;    
}


#indexMain {
    background-color: #ffffff;
    width: 960px;
    margin: 100px auto;
    font-family: "Arial", "Helvetica", "sans-serif"; 
    color: #666666;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
    padding-left: 25px;     
}

#contactMain {
    width: 860px;
    background-color: #ffffff;
    margin: 30px auto;
    font-family: "Arial", "Helvetica", "sans-serif";
    color: #666666;
    padding-top: 3;
    padding-left: 10;
    padding-right: 10; 
    padding-bottom: 15;   
 }

 #portfolioMain {
    width: 860px;
    background-color: #ffffff;
    margin: 30px auto;
    font-family: "Arial", "Helvetica", "sans-serif";
    color: #666666;
    padding-top: 3;
    padding-left: 10;
    padding-right: 10; 
    padding-bottom: 610; 
 }


#footer {
    background-color: #666666;
    text-align: center;    
    color: #ffffff;  
    border-top: 8px solid #4aaaa5; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;     
}

p {
    padding-top: 10px;
}

img {
    float: left;
    padding: 10px;
}


#images {
    float: left; 
    padding: 20;  
}

.column {
    float: left;
    width: 230px;
    margin-right: 10;
  }  
 
  .row::after {
    content: "";
    clear: both;
    display: block;
  }

h2 {
    border-bottom: 2px solid #dddddd;
    padding-bottom: 18px;
    color: #4aaaa5;
    font-family: "Georgia", "Times New Roman", "Times", "Serif";
}

.button { 
    background: #4aaaa5; 
    border: solid 1px #666666; 
    color: #ffffff;
    height: 40px;   
    width: 100;
    font-size: 16;
}

.button:hover {
    background-color: #666666
}

.button:active {
    background-color: #cccccc
}

input {
    width: 860px;
    height: 33px;   
}

@media screen and (min-width: 640px){
    #container {
        font-size: 80px;
        background-color:#4aaaa5
}

@media screen and (max-width: 640px) {
    #container {
        font-size: 30px;
}

@media screen and (min-width: 768px) {
    #container {
        font-size: 80px;
}     

@media only screen and (max-width: 768px) {
    [class="col-"] {
        width: 100%;
        font-size: 30px;
}

@media screen and (min-width: 980px) {
    #container {
        font-size: 80px;    
}

@media screen and (max-width: 980px) {
    #container {
        font-size: 30px;    
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

